.vimeo-video {
    position: relative;
}

.vimeo-video a {
    display: block;
    position: relative;
    z-index: 2;
}

.vimeo-video .image_container img {
    display: block;
}

.vimeo-video .embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.vimeo-video .embed iframe {
    width: 100% !important;
    height: 100% !important;
}

.vimeo-video.active .embed {
    z-index: 3;
}

#colorbox.vimeo-video-lightbox #cboxLoadedContent {
    background: #000;
    overflow: hidden !important;
}

#colorbox.vimeo-video-lightbox #cboxLoadedContent .embed {
    background: url("/assets/jquery/colorbox/1.6.1/images/loading.gif") no-repeat center center;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 240px;
}